<header>
    <nav>
        <div class="logo">
            <a href="/"><img src="https://cdn.discordapp.com/attachments/1117110325725102201/1119285179463249990/Logo_png.png" alt="Logo"></a>
        </div>
        <h1>Panel Administratora</h1>
        <div>
            <a href="/wyloguj">Wyloguj się</a>
        </div>
    </nav>
    <div class="box-container">
        <a href="/admin/uzytkownicy">
            <div class="box">
               <h2>Użytkownicy</h2>
            </div>
         </a>
         <a href="/admin/historia">
            <div class="box">
               <h2>Historia</h2>
            </div>
         </a>
         <a href="/admin/hotele">
            <div class="box">
               <h2>Hotele</h2>
            </div>
         </a>
         <a href="/admin/rezerwacje">
            <div class="box">
               <h2>Rezerwacje</h2>
            </div>
         </a>
         <a href="/admin/komentarze">
            <div class="box">
               <h2>Komentarze</h2>
            </div>
         </a>
    </div>
</header>