<!DOCTYPE html>
<html>
    <head>
        <title>Brak uprawnień!</title>
        <link rel="stylesheet" type="text/css" href="/css/navbar.css" />
        <link rel="stylesheet" type="text/css" href="/css/error.css" />
        <link rel="stylesheet" type="text/css" href="/css/wpis.css" />
    </head>
    <body>
        <%- include('partials/navbar') -%>
        <br>
        <div class="hotel-entry">
            <h1>NIE POSIADASZ UPRAWNIEŃ!</h1>
            <a href="/"><p>Wróc na stronę główną!</p></a>
        </div>
    </body>
</html>