<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Logowanie</title>
        <link rel="stylesheet" type="text/css" href="/css/navbar.css" />
        <link rel="stylesheet" type="text/css" href="/css/logowanie.css" />
    </head>
    <body>
        <%- include('partials/navbar') -%>
        <main>
            <div class="login-container">
                <h2>Logowanie</h2>
                <form method="POST">
                    <input type="text" placeholder="Login" name="login" value="<%= form.login %>">
                    <input type="password" placeholder="Hasło" name="password">
                    <% if (error){ %>
                        <div class="rej-error">Błędny login lub hasło</div>
                    <% } %>
                    <button type="submit">Zaloguj</button>
                </form>
                <p><a href="/rejestracja">Zarejestruj się</a></p>
            </div>
        </main>
    </body>
    <script>
    </script>
</html>
